tensorflow>=2.16.0

opencv-python>=4.10.0

numpy>=1.26.0

Pillow>=11.0.0

customtkinter>=5.2.2

transformers>=4.46.0

torch>=2.5.0

torchvision>=0.20.0

scikit-fuzzy>=0.5.0

matplotlib>=3.9.0

tqdm>=4.67.0